<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <!--Removed Reactive Forms, because we are implementing template driven forms approach-->

  <form *ngIf="!isLoading">
    <mat-form-field>
      <mat-label>E-Mail</mat-label>
      <input matInput type="email" placeholder="E-Mail" />
      <mat-error *ngIf="">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Password" />
      <mat-error *ngIf="">Please enter a valid password.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Login</button>
  </form>

</mat-card>
